ul,
li,
p {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;

}
.is-hidden{
    display: none !important;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    margin-bottom: 35px;
}

.photo-card {
    border: solid 1px black;
    width: 360px;
    height: 200px;

}

.listSearchImage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}
.listSearchImage ul{
    display: flex;
    height: 50px;
}
.listSearchImage ul li{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.listSearchImage ul li p{
    text-align: center;
}

.listSearchImage div {
    height: 150px;
    object-fit: cover;

}

.listSearchImage div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


